  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  background:none repeat scroll 0 0 transparent;
  border:0 none;
  font-size:100%;
  margin:0;
  outline:0 none;
  padding:0;
  vertical-align:baseline;
  text-decoration: none;
  }
  body {
  line-height:1;
  }
  ol, ul {
  list-style:none outside none;
  }
  blockquote, q {
  quotes:none;
  }
  blockquote:before, blockquote:after, q:before, q:after {
  content:none;
  }
  :focus {
  outline:0 none;
  }
  ins {
  text-decoration:none;
  }
  del {
  text-decoration:line-through;
  }
  table {
  border-collapse:collapse;
  border-spacing:0;
  }
  body {
  font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
  }
  a:focus {
  }
  hr {
  border-color:#CCCCCC;
  border-right:0 solid #CCCCCC;
  border-style:solid;
  border-width:1px 0 0;
  clear:both;
  height:0;
  }
  h1 {
  font-size:25px;
  }
  h2 {
  font-size:23px;
  }
  h3 {
  font-size:21px;
  }
  h4 {
  font-size:15px;
  }
  h5 {
  font-size:17px;
  }
  h6 {
  font-size:15px;
  }
  ol {
  list-style:decimal outside none;
  }
  ul {
  list-style:disc outside none;
  }
  li {
  margin-left:30px;
  list-style-type: none;
  }
  #toolbar {
  background:none repeat scroll 0 0 #F0F0F0;
  border-bottom:2px solid #000000;
  color:#333333;
  font-family:'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
  font-size:12px;
  height:130px;
  margin:0 -10px;
  min-width:980px;
  padding:0 10px;
  position:fixed;
  top:0;
  width:100%;
  }
  #toolbar a {
  background:none repeat scroll 0 0 transparent;
  color: black;
  text-decoration : none
  }
  #toolbar a:hover {
  background:none repeat scroll 0 0 transparent;
  }
  #toolbar #header {
  background:none repeat scroll 0 0 #333333;
  border-bottom:2px solid #222222;
  color:#EEEEEE;
  height:20px;
  margin:0 -10px 10px;
  overflow:hidden;
  padding:3px 5px;
  }
  #toolbar #header h1 {
  font-size:16px;
  line-height:20px;
  }
  #toolbar #header a {
  color:#EEEEEE;
  text-decoration:none;
  }
  #toolbar #header a:hover {
  color:#FFFFFF;
  text-decoration:none;
  }
  #toolbar .small {
  color:#333333;
  font-size:11px;
  font-weight:bold;
  }
  #toolbar input.time {
  width:20px;
  }
  table.actions {
  border-collapse:collapse;
  width:auto;
  }
  table.actions th {
  color:#333333;
  font-size:11px;
  min-width:100px;
  padding:0 5px;
  text-align:left;
  }
  table.actions td {
  padding:2px 5px;
  text-align:left;
  vertical-align:middle;
  }
  table.actions span.note {
  color:#999999;
  font-weight:normal;
  }
  table.actions span.and {
  color:red;
  font-size:11px;
  font-weight:bold;
  }
  table.actions span.label {
  cursor:pointer;
  font-weight:bold;
  }
  table.actions input[type="text"] {
  border:1px solid #AAAAAA;
  padding:2px;
  width:200px;
  }
  div#option-ctrl {
  background:none repeat scroll 0 0 #F0F0F0;
  border:1px solid #DDDDDD;
  bottom:0;
  color:#000000;
  font-family:'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
  font-size:11px;
  height:20px;
  min-height:20px;
  min-width:60px;
  padding:5px;
  position:fixed;
  right:0;
  z-index:100;
  }
  div#option-ctrl ul {
  list-style:none outside none;
  margin:0;
  padding:0;
  }
  div#option-ctrl ul li {
  float:left;
  list-style:none outside none;
  margin:0 5px 0 0;
  }
  body {
  background:none repeat scroll 0 0 #111111;
  color:#FFFFFF;
  font-family:'Monaco','Deja Vu Sans Mono','Inconsolata','Consolas',monospace;
  font-size:10px;
  margin:10px;
  padding-top:130px;
  }
  a {
  color:#00FF00;
  }
  a:hover {
  background-color:#0033CC;
  color:white;
  text-decoration:none;
  }
  .host_key_options, .file_key_options, .log-volume-data, .key_start_end, .key_options, .limit_options, .descending_options, .skip_options, .startkey_options, .endkey_options, .accum-log-volume, .auto_update_options{
      float: left;
  }
  .group {
      border:1px solid #DDDDDD;
      font-family:'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
      font-size:11px;
      min-height:20px;
      min-width:60px;
      margin: 5px;
      padding: 4px;
  }
  .ctrl_label {
      font-size: 13px;
      margin-right: 10px;
  }
  .skip_button .skip_button_separator{
      margin-right: 5px;
      font-size: 12px;
  }
  .ui_selected{
      /*background-color: #DDDDDD !important;
      text-decoration: underline !important;
      */
      color: #F0F0F0 !important;
      background-color: #333333 !important;
  }
  .datepicker{
      width: 70px;
  }
  .host_key, .file_key{
      width: 100px;
  }
