<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../../style/main.css" type="text/css"/> 
    <link rel="stylesheet"
    href="../../jquery-ui-1_8-smoothness/css/smoothness/jquery-ui-1.8.6.custom.css" type="text/css"/> 
    <script type="text/javascript"
     src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript"
     src="../../jquery-ui-1_8-smoothness/js/jquery-ui-1.8.6.custom.min.js"</script>
  </head>
  <body>
    {{>javascript}}
    {{>header}}
    <div class="results">
      <ul class="entries">
        {{#entries}}
          <li>
            <a href="{{ host }}" class="host_key_change">{{ host }}</a> :
            <a href="{{ file }}" class="file_key_change">{{ file }}</a> :
            {{ content }}
          </li>
        {{/entries}}
    </ul>
  </div>
</body>
</html>
