<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../../style/main.css" type="text/css"/> 
    <script type="text/javascript"
     src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  </head>
  <body>
    {{>header}}
    {{ onlykey }}
    <div id="results">
      <ul id="entries">
        {{#entries}}
          <li>
            <span class="host">{{ host }}</span> :
            <a href="{{ link }}">{{ file }}</a> :
            {{ content }}
          </li>
        {{/entries}}
    </ul>
  </div>
  {{>javascript}}
</body>
</html>
