/* Each line is a one of volume, warnings (count), errors (count) and is
represented by a line */
/* TESTING BEGIN */
        var data =  [
            {
                label: 'Volume (bytes)',
                data: [[0, 5], [1,20]],
            },
            {
                label: 'Warnings',
                data: [[1,80],[2,32]],
            },
            {
                label: 'Wednesday',
                data: [[2, 100]],
            },
            {
                label: 'Thursday',
                data: [[3, 25]],
            }
        ];
        $.plot($(".data_graph"), data, {xaxis: {max: 7, ticks: [[0.5,
        'Monday'],[1.5, 'Tuesday'],[2.5,'Wednesday']]}, yaxis: {ticks: null}, bars: {show: true }});
/* TESTING END */

