<div id="toolbar">
    <div id="header">
      <h1><a href="{{ index }}">{{ blogName }}</a></h1>
    </div>
    <div class="search">
        <div class="saved_searches">
            <a href="{{ errors_search }}">Errors</a>
            <a href="{{ warnings_search }}">Warnings</a>
        </div>
    </div>
    <div class="paginate">
        <a href="{{ older }}">Older Posts</a>
        <a href="{{15}}">15</a>
        <a href="{{30}}">30</a>
        <a href="{{60}}">60</a>
    </div>
    <div class="option-ctrl">Options</div>
    <div class="accum-log-volume"></div> 
</div>
