<div id="toolbar">
    <div id="header">
      <h1><a href="{{ index }}">{{ blogName }}</a></h1>
    </div>
    <div class="search">
        <div class="key_options group">
            <span class="ctrl_label">Show:</span>
            <a href="all" class="key_change">All</a> |
            <a href="{{ errors_search }}">Errors</a> |
            <a href="{{ warnings_search }}">Warnings</a>
        </div>
    </div>
    <div class="limit_options group">
        <span class="ctrl_label">Limit:</span>
        <a  href="25" class="limit_change">25</a> |
        <a  href="50" class="limit_change">50</a> |
        <a  href="100" class="limit_change">100</a> 
    </div>
    <div class="key_start_end group">
        <span class="startkey_options ">
            <span class="ctrl_label">Start Date:</span> 
            <input class="start_key_datepicker datepicker" type="text"
            readonly="readonly" value="{{ default_start_date }}" />
            <span class="ui-icon ui-icon-closethick clear_start_key" style="display: inline-block;">clear</span>
        </span>
        <br />
        <span class="endkey_options" style="margin-top: 4px;">
            <span class="ctrl_label" style="margin-right: 15px;">End Date:</span> 
            <input class="end_key_datepicker datepicker" type="text"
            readonly="readonly" value="{{ default_end_date }}" />
            <span class="ui-icon ui-icon-closethick clear_end_key" style="display: inline-block;">clear</span>
        </span>
    </div>
    <div class="descending_options group">
        <span class="ctrl_label">Sort:</span>
        <a href="False" class="descending_change ascending">Ascending</a> |
        <a href="True" class="descending_change descending">Descending</a>
    </div>
    <div class="skip_options group">
        <span class="ctrl_label">Skip:</span>
        <a href="big_back" class="skip_change skip_button">&#60;&#60;</a>
        <a href="back" class="skip_change skip_button">&#60;</a> 
        <span class="skip_button_separator">|</span> 
        <a href="forward" class="skip_change skip_button">&#62;</a>
        <a href="big_forward" class="skip_change skip_button">&#62;&#62;</a>
    </div>

    <!--<div class="option-ctrl">Options</div>-->
    <div class="log-volume-data group">
        <div class="accum-log-volume"></div> 
    </div>
</div>
