<script type="text/javascript">
    function gup( name ){
        /*  To use this, see the following */
        /* http://www.foo.com/index.html?bob=123&frank=321&tom=213#top */
        /* var frank_param = gup( 'frank' ); */
        name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
        var regexS = "[\\?&]"+name+"=([^&#]*)";
        var regex = new RegExp( regexS );
        var results = regex.exec( window.location.href );
        if( results == null ){
            return "";
        }else{
            return results[1];
        }
    }
    function get_page_name(){
        pathArray = window.location.pathname.split( '/' );
        return pathArray[pathArray.length - 1 ];
    }

    var args = ['key', 'keys', 'startkey', 'endkey', 'limit',
    'descending','skip', 'group', 'reduce', 'autoupdate']; 
    function new_setup_couchdb_url(arg_to_change, new_val_from_user){
        var arg_vals = [];
        var cur_val = "";

        for(x in args){
            if(arg_to_change == args[x]){ 
                /* this is the arg we want to change, so set it */
                if(isNaN(new_val_from_user) || new_val_from_user == ''){
                    if(new_val_from_user == "True" || new_val_from_user == "False"){
                        arg_vals[args[x]] = new_val_from_user;
                    }else{
                        if(new_val_from_user != ''){
                            arg_vals[args[x]] = "\"" + new_val_from_user + "\"";
                        } 
                    }
                }else{ 
                    arg_vals[args[x]] = new_val_from_user;    
                }
            }else{
                /* Get the current val of this arg if it exists */
                cur_val = gup(args[x]);
                if(cur_val != ""){
                    /* The old url had this arg set already, so keep it */
                    arg_vals[args[x]] = cur_val;  
                }
            }
        }

        /* Now create the url */
        var path = window.location.pathname;
        var protocol = window.location.protocol;
        var host = window.location.host;
        var url = protocol + "//" + host + path + "?";   

        for( x in arg_vals){
            url = url + x + "=" + arg_vals[x] + "&"; 
        }
        return url;
    }
    function isValidDate(input){
        var validformat=/^\d{6,8}$/
        var result = true;
        if (!validformat.test(input)){
            result = false;
        }
        return result;
    }
    function datePickersAreValid(){
        var result = true;
        var start_date = Number($('.start_key_date_picker').val());
        var end_date = Number($('.end_key_datepicker').val());
        if(start_date <= end_date){
            result = false;
            alert("The start date must come before the end date!");
        }
        return result;
    }
    function updateGuiBasedOnUrlArgs(){
        /* This is and ugly hack that I need to revist later. */
        var selected_class = 'ui_selected'; /* Class to add to UI elements that are selected */

        /* Page-base options */
        switch(get_page_name()){
            case "all":
                $(".view_all").addClass(selected_class);                
                break;
            case "warnings":
                $(".view_warnings").addClass(selected_class);                
                break;
            case "errors":
                $(".view_errors").addClass(selected_class);                
                break;
        }

        /* Get all current supported args */
        var arg_vals = [];
        for(x in args){
           arg_vals[args[x]] = gup(args[x]); 
        }
        /* Arg-specific logic  */
        if(arg_vals['autoupdate'] != ""){
            if(arg_vals['autoupdate'] == "True"){
                $(".auto_update_on").addClass(selected_class);
            }else{
                $(".auto_update_off").addClass(selected_class);
            }
        }
        if(arg_vals['limit'] != ""){
            $('.limit_options > a').each(function(i, val){
                if($(this).attr('href') == arg_vals['limit'] ){
                    $(this).addClass(selected_class);
                }
            });
        }
        if(arg_vals['descending'] != ""){
            if(arg_vals['descending'] == "False"){
               $('.ascending').addClass(selected_class); 
            }else {
               $('.descending').addClass(selected_class); 
            }
        }
        if(arg_vals['startkey'] != ""){
            $('.start_key_datepicker').val(arg_vals['startkey']);
        }
        if(arg_vals['endkey'] != ""){
            $('.end_key_datepicker').val(arg_vals['endkey']);
        }
        if(arg_vals['keys'] != ""){
            var keys = unescape(arg_vals['keys']);
            keys = keys.slice(1, keys.length -1);
            var keys_parsed = JSON.parse(keys);
            $('.singledatekey_datepicker').val(keys_parsed[0].date);
            $('.host_key').val(keys_parsed[0].host);
            $('.file_key').val(keys_parsed[0].file);
        }
    }

function get_stringified_keys(for_transport){
    /* TODO: These should come from the url like the other args! */
    /*  Or should they... grrrr. */
    var date_key = $('.singledatekey_datepicker').val();
    var host_key = ""; 
    var file_key = ""; 
    var stringified_keys = "";
    var keys = [{}];

    if( isValidDate(date_key) ){
        keys[0]["date"] = date_key;
        if( host_key != null && host_key != ""){
            keys[0]["host"] = host_key;
            if( file_key != null && file_key != ""){
                keys[0]["file"] = file_key;
            }
        }
    }else{
        console.log("Date is invalid!");
    }
    if(for_transport){
        return JSON.stringify({"keys": keys});
    }else{
        return JSON.stringify(keys);
    }
}

function update_page(){
    /* Function to read in current options and update the page's content by
    requesting a new one via AJAX request. 
    */
    update_log_volume_stats();
    var keys = get_stringified_keys(true);
    $.ajax({
        type: "POST",
        contentType: "application/json",
        url: window.location,
        dataType: "html",
        processData: false,
        data: keys,
        success: function(data){
            var results = $(data).filter(".results").html();
            if(results == "" || results == null){
                results = "Nothing to display...";    
            }
            $(".results").html(results);
            console.log("Updated results...");

        },error: function(XMLHttpRequest, textStatus, errorThrown){
            console.log( "Auto update failed: " + textStatus);
        }
    });
}

function update_log_volume_stats(){
    $.ajax({
        url: '{{ accumLogVolumePath }}',
        success: function(data) {
            var x = JSON.parse(data);
            accum_bytes = x["rows"][0].value;
            accum_GB = accum_bytes / 1073741824;
            accum_GB_rounded = Math.round(accum_GB*100)/100
            $('.accum-log-volume').html("Total Size of Logs: " + accum_GB_rounded + " GB");
        }
    });
}
     


    $(document).ready(function(){
        updateGuiBasedOnUrlArgs();
        update_page(); /* Grab our first set of results */
        if(gup('autoupdate') == "True"){
            setInterval("update_page()", 10000); /* Update the results every 10 seconds */
        }
        /* Four digit year, month and day with no leading zeros */
        $('.singledatekey_datepicker').datepicker({ 
            dateFormat: 'yymd', 
            onClose: function(dateText, inst){
                var date_key = $('.singledatekey_datepicker').val();
                if(isValidDate(date_key) ){
                    var keys = JSON.stringify([{"date": date_key}]);
                     window.location = new_setup_couchdb_url("keys", keys);  
                }
            }
        });
        $('.host_key_change').live('click', function(e) {
            e.preventDefault(); 
            $('.host_key').val($(this).text());
            window.location = new_setup_couchdb_url("keys", get_stringified_keys(false));
        });
          
       /*  
        $('.start_key_datepicker').datepicker({ 
            dateFormat: 'yymmdd',
            onClose: function(dateText, inst){
                if(isValidDate(dateText) && datePickersAreValid() ){
                    window.location = new_setup_couchdb_url('startkey', dateText);
                }
            }
        });
        $('.end_key_datepicker').datepicker({ 
            dateFormat: 'yymmdd', 
            onClose: function(dateText, inst){
                if(isValidDate(dateText) && datePickersAreValid() ){
                    window.location = new_setup_couchdb_url('endkey', dateText);
                }
            }
        });
        */
        $('.auto_update_change').live('click', function(e) {
            e.preventDefault();
            window.location = new_setup_couchdb_url('autoupdate', $(this).attr('href'));
        });
        $('.key_change').live('click', function(e) {
            e.preventDefault();
            window.location = new_setup_couchdb_url('key', $(this).attr('href'));
        });
        $('.limit_change').live('click', function(e) {
            e.preventDefault();
            window.location = new_setup_couchdb_url('limit', $(this).attr('href'));
        });
        $('.descending_change').live('click', function(e) {
            e.preventDefault();
            window.location = new_setup_couchdb_url('descending', $(this).attr('href'));
        });
        $('.clear_singledatekey').live('click', function(e) {
            e.preventDefault();
            today = new Date();
            cur_date = String(today.getFullYear()) + String(today.getMonth()) + String(today.getDate());
            $('.singledatekey_datepicker').val(cur_date);
            window.location = new_setup_couchdb_url('endkey', '');
        });
        /*
        $('.clear_start_key').live('click', function(e) {
            e.preventDefault();
            $('.start_key_datepicker').val('');
            window.location = new_setup_couchdb_url('startkey', '');
        });
        $('.clear_end_key').live('click', function(e) {
            e.preventDefault();
            $('.end_key_datepicker').val('');
            window.location = new_setup_couchdb_url('endkey', '');
        });
        */
        $('.skip_change').live('click', function(e) {
            e.preventDefault();
            var operation = $(this).attr('href');
            var cur_skip = gup('skip');
            var cur_view_limit = gup('limit');
            var new_skip = 0;
            var big_skip = 2;

            if(cur_skip == ""){
                cur_skip = 0;
            }else{
                cur_skip = Number(cur_skip);
            }
            if(cur_view_limit == ""){
                cur_view_limit = 0;
            }else{
                cur_view_limit = Number(cur_view_limit);
            }

            if(cur_view_limit == 0){
                cur_view_limit = 25; /* Min view limit of 25 */
            }
            
            switch(operation){
                case "big_back":
                    new_skip = cur_skip - ( big_skip * cur_view_limit);
                    break;
                case "back":
                    new_skip = cur_skip - cur_view_limit;
                    break;
                case "forward":
                    new_skip = cur_view_limit + cur_skip;
                    break;
                case "big_forward":
                    new_skip = ( big_skip * cur_view_limit) + cur_skip;
                    break;
                default:
                    alert("Error in switch!");
            }
            new_skip = Math.max(0, new_skip); /* Do no give negative numbers. */
            window.location = new_setup_couchdb_url('skip', new_skip);
        });
    });
</script>
